$font-family: 'Raleway', sans-serif;
$primary-color: #e56353;
$secondry-color: #a0a0a0;
$text-color-dark: #686963;
$text-color-light: #fff;
$bg-primary: $primary-color;
$bg-secondary: $secondry-color;
$bg-light: #fafafa;
